{% extends "learning/custom_admin/pages/exercise_edit_template.html" %}
{% load static %}
{% block custom_head %}
    <title>Edit join words exercise</title>
    <script type="module" src="{% static 'learning/custom_admin/js/joinwordsexercise_edit.js' %}"></script>
{% endblock %}

{% block formset_content %}
    <h4 class="mt-4">Join pairs:</h4>
    <div class="container d-flex justify-content-start">
        <fieldset class="flex-grow-1">
            <div class="error-color">
                {{ formset.non_form_errors }}
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>First</th>
                    <th>Second</th>
                    <th>Delete?</th>
                </tr>
                </thead>
                <tbody id="{{ prefix }}_tbody">
                {% for inline_form in formset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <div class="error-color">{{ inline_form.first.errors }}</div>
                            {{ inline_form.first }}
                        </td>
                        <td>
                            <div class="error-color">{{ inline_form.second.errors }}</div>
                            {{ inline_form.second }}
                        </td>
                        <td>
                            {% include "learning/custom_admin/components/remove-render.html" %}
                        </td>
                        {% for hidden_field in inline_form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <!-- I put another tbody to keep the empty form -->
                {% include "learning/custom_admin/joinwordsexercise/empty_form.html" %}
            </table>
        </fieldset>
    </div>
{% endblock %}

{% block add_btn %}
    {% include "learning/custom_admin/components/add-btn.html" with name="join pair" %}
{% endblock %}
